@import "../../asserts/style/default.scss";
@import "../../asserts/style/mobile.css";

.todolist-main-wrap {
  /* ------- root ------- */
  /* #region  */
  position: relative;
  padding: 1rem 2rem;
  width: 100%;

  background-color: $dark-bgcolor;
  color: $dark-text-color;
  /* #endregion */
  /* ------- end  ------- */

  /* ------- 面包屑导航栏 ------- */
  /* #region  */
  .mobile-nav-placeholder-wrap {
    @include icon(1.5rem);

    content: url("../../asserts/imgs/MainBody/nav.png");
    height: 0;
    transition: height 0.5s;
    visibility: hidden;
  }
  /* #endregion */
  /* ------- end  ------- */

  /* ------- 路由页面 ------- */
  /* #region  */
  .router-view {
    height: calc(100% - 11rem);

    overflow-y: auto;
    scrollbar-width: none;
    // @include scrollbar;
  }
  /* #endregion */
  /* ------- end  ------- */

  /* ------- 添加ToDo ------- */
  /* #region  */
  .add-task-wrap {
    @include flex-center;

    background-color: #070e12;
    padding: 1rem;
    margin: 0.25rem 0rem;

    input {
      @include input-field;
    }

    .sg-todo-item-icon-add,
    .sg-todo-item-icon-check {
      @include icon(1.5rem);
      margin-left: 1rem;
    }

    .sg-todo-item-icon-check {
      content: url("../../asserts/imgs/MainBody/todo-unfinished.png");
    }

    .sg-todo-item-text:focus + .sg-todo-item-icon-check {
      content: url("../../asserts/imgs/MainBody/add.png");
    }

    .sg-todo-item-icon-add {
      content: url("../../asserts/imgs/MainBody/add.png");
    }

    .sg-todo-item-text {
      @include flex-center;

      flex: 1 0 auto;
    }
  }
  /* #endregion */
  /* ------- end  ------- */
}
