@charset "UTF-8";
/* ------- 图标 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 元素移入样式 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 流式居中 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 滚轴 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 输入框 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 数字徽章 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
@import "../../asserts/style/mobile.css";
.todolist-main-wrap {
  /* ------- root ------- */
  /* #region  */
  position: relative;
  padding: 1rem 2rem;
  width: 100%;
  background-color: #222222;
  color: #ffffff;
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 面包屑导航栏 ------- */
  /* #region  */
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 路由页面 ------- */
  /* #region  */
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 添加ToDo ------- */
  /* #region  */
  /* #endregion */
  /* ------- end  ------- */
}
.todolist-main-wrap .mobile-nav-placeholder-wrap {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  object-fit: cover;
  content: url("../../asserts/imgs/MainBody/nav.png");
  height: 0;
  transition: height 0.5s;
  visibility: hidden;
}
.todolist-main-wrap .mobile-nav-placeholder-wrap img {
  width: 100%;
  height: 100%;
}
.todolist-main-wrap .router-view {
  height: calc(100% - 11rem);
  overflow-y: auto;
  scrollbar-width: none;
}
.todolist-main-wrap .add-task-wrap {
  display: flex;
  align-items: center;
  background-color: #070e12;
  padding: 1rem;
  margin: 0.25rem 0rem;
}
.todolist-main-wrap .add-task-wrap input {
  display: block;
  box-sizing: border-box;
  background-color: #222222;
  color: #ffffff;
  padding: 0.5rem;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.todolist-main-wrap .add-task-wrap .sg-todo-item-icon-add,
.todolist-main-wrap .add-task-wrap .sg-todo-item-icon-check {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  object-fit: cover;
  margin-left: 1rem;
}
.todolist-main-wrap .add-task-wrap .sg-todo-item-icon-add img,
.todolist-main-wrap .add-task-wrap .sg-todo-item-icon-check img {
  width: 100%;
  height: 100%;
}
.todolist-main-wrap .add-task-wrap .sg-todo-item-icon-check {
  content: url("../../asserts/imgs/MainBody/todo-unfinished.png");
}
.todolist-main-wrap .add-task-wrap .sg-todo-item-text:focus + .sg-todo-item-icon-check {
  content: url("../../asserts/imgs/MainBody/add.png");
}
.todolist-main-wrap .add-task-wrap .sg-todo-item-icon-add {
  content: url("../../asserts/imgs/MainBody/add.png");
}
.todolist-main-wrap .add-task-wrap .sg-todo-item-text {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}