@import "../../asserts/style/default.scss";

.context-menu-wrap {
  position: absolute;
  left: 0;
  top: 0;

  box-sizing: border-box;
  padding: 0.3rem;
  border: 1px solid $dark-border-color;
  background-color: $dark-bgcolor;
  color: $dark-text-color;

  scale: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s;

  width: 11rem;
  border-radius: 3px;

  &.show {
    scale: 1;
    opacity: 1;
    height: auto;
  }

  .sg-option {
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
      @include element-hover;
    }

    &.delete-option {
      color: rgb(255, 21, 21);
    }
  }
}
