@charset "UTF-8";
/* ------- 图标 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 元素移入样式 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 流式居中 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 滚轴 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 输入框 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 数字徽章 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
.sg-switch-item-wrap {
  margin: 0.75rem 0;
  line-height: 1;
  font-size: 1rem;
  color: #d9d9d9;
}
.sg-switch-item-wrap.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sg-switch-item-wrap .sg-switch-item-title {
  margin: 0.25rem 0;
  position: relative;
}
.sg-switch-item-wrap .sg-switch-item-title label {
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
}
.sg-switch-item-wrap .sg-switch-item-title input {
  display: none;
}