@charset "UTF-8";
/* ------- 图标 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 元素移入样式 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 流式居中 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 滚轴 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 输入框 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 数字徽章 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
.sg-todo-item-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #373737;
  padding: 1rem;
  margin: 0.25rem 0rem;
  border-radius: 5px;
  width: calc(100% - 2rem);
}
.sg-todo-item-wrap:hover {
  background-color: rgb(69, 69, 69);
  border-radius: 3px;
}
.sg-todo-item-wrap .sg-todo-item-icon-check {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  object-fit: cover;
  flex: 1 0 1.5rem;
  max-width: 1.5rem;
  content: url("../../asserts/imgs/MainBody/todo-unfinished.png");
}
.sg-todo-item-wrap .sg-todo-item-icon-check img {
  width: 100%;
  height: 100%;
}
.sg-todo-item-wrap .sg-todo-item-icon-check:hover {
  content: url("../../asserts/imgs/MainBody/todo-done.png");
}
.sg-todo-item-wrap .sg-todo-item-text {
  width: calc(100% - 6rem);
  max-width: calc(100% - 6rem);
  word-wrap: break-word;
}
.sg-todo-item-wrap .sg-todo-item-icon-favorite {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  object-fit: cover;
  flex: 1 0 1.5rem;
  max-width: 1.5rem;
  margin: 0 1rem;
  content: url("../../asserts/imgs/MainBody/unfavorite.png");
}
.sg-todo-item-wrap .sg-todo-item-icon-favorite img {
  width: 100%;
  height: 100%;
}
.sg-todo-item-wrap .sg-todo-item-icon-favorite:hover {
  content: url("../../asserts/imgs/SideBar/important.png");
}
.sg-todo-item-wrap .sg-todo-item-icon-favorite.important-view {
  content: url("../../asserts/imgs/MainBody/favorite.png");
}