@charset "UTF-8";
/* ------- 图标 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 元素移入样式 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 流式居中 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 滚轴 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 输入框 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 数字徽章 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
.switch-wrap {
  position: relative;
  width: 2.5rem;
  height: 1rem;
  padding: 0.25rem;
  border-radius: 999px;
  border: 1.5px solid #6c6c6c;
  margin-right: 1rem;
  background-color: #171819;
  transition: background-color 0.3s;
}
.switch-wrap::before {
  content: "";
  position: absolute;
  left: 0.25rem;
  top: 50%;
  transform: translate(0, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #cdcdce;
  transition: left 0.3s, background-color 0.3s;
}
.switch-wrap.on {
  background-color: #76b9ed;
}
.switch-wrap.on::before {
  left: calc(100% - 1.25rem);
  background-color: #000000;
}