@charset "UTF-8";
/* ------- 图标 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 元素移入样式 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 流式居中 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 滚轴 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 输入框 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 数字徽章 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 背景 ------- */
/* #region  */
.flower-field {
  background-image: url("../../asserts/imgs/BackgroundImages/flower-field.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.sunset-glow {
  background-image: url("../../asserts/imgs/BackgroundImages/sunset-glow.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.mountain {
  background-image: url("../../asserts/imgs/BackgroundImages/mountain.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.fancy {
  background-image: url("../../asserts/imgs/BackgroundImages/fancy.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.hilltop {
  background-image: url("../../asserts/imgs/BackgroundImages/hilltop.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.wriggle {
  background-image: url("../../asserts/imgs/BackgroundImages/wriggle.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.snow {
  background-image: url("../../asserts/imgs/BackgroundImages/snow.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.autumn {
  background-image: url("../../asserts/imgs/BackgroundImages/autumn.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.black-bg {
  background-color: #2c2c2c !important;
  background-image: none !important;
}

.skyblue-bg {
  background-color: skyblue !important;
  background-image: none !important;
}

.green-bg {
  background-color: #90ee90 !important;
  background-image: none !important;
}

.white-bg {
  background-color: #ededed !important;
  background-image: none !important;
}

/* #endregion */
/* ------- end  ------- */
.todo-list-empty-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15rem;
}
.todo-list-empty-wrap::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(2px);
  border-radius: 8px;
  z-index: -1;
}
.todo-list-empty-wrap .todo-list-empty-img {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
  object-fit: cover;
  margin: 0;
}
.todo-list-empty-wrap .todo-list-empty-img img {
  width: 100%;
  height: 100%;
}