.important-icon {
  content: url("../imgs/SideBar/important.png");
}

.today-icon {
  content: url("../imgs/SideBar/today.png");
}

.tasklist-icon {
  content: url("../imgs/SideBar/task-dark.png");
}

.search-icon {
  content: url("../imgs/SideBar/search_dark.png");
}

.userlist-icon {
  content: url("../imgs/SideBar/user_todo.png");
}

.finished-icon {
  content: url("../imgs/SideBar/finished.png");
}

.allTask-icon {
  content: url("../imgs/SideBar/allTask.png");
}
