@charset "UTF-8";
.mobile-nav {
  display: none;
}

@media screen and (max-width: 64rem) {
  /* ------- 更新侧边栏 ------- */
  /* #region  */
  .todo-update-bar {
    position: absolute !important;
    height: calc(100% - 1rem);
    width: 14rem !important;
    right: 0;
    top: 0;
  }
  /* #endregion */
  /* ------- end  ------- */
}
@media screen and (max-width: 28rem) {
  /* ------- 侧边栏 ------- */
  /* #region  */
  .todolist-sidebar-wrap {
    width: 0rem !important;
    min-width: 0rem !important;
    max-width: none !important;
    transition: width 0.3s !important;
    overflow: hidden !important;
  }
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 手机侧边栏 ------- */
  /* #region  */
  .mobile-nav {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 100%;
    z-index: 999;
    transition: width 0.3s, opacity 0.3s;
  }
  .mobile-nav .todolist-sidebar-wrap {
    width: 100% !important;
    height: 100%;
    z-index: 999;
  }
  .mobile-nav.hide {
    width: 0;
    opacity: 0;
    transition: width 0.3s, opacity 0.3s;
  }
  .mobile-nav-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 998;
  }
  .mobile-nav-mask.hide {
    animation: hide-mask 0.3s forwards;
  }
  @keyframes hide-mask {
    from {
      opacity: 1;
      width: 100%;
    }
    99% {
      opacity: 0;
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 页面展示部分 ------- */
  /* #region  */
  .todolist-main-wrap {
    padding-bottom: 3rem;
    width: calc(100% - 4rem);
  }
  .todolist-main-wrap .mobile-nav-placeholder-wrap {
    visibility: visible !important;
    height: 1.5rem !important;
    transition: height 0.3s;
  }
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 更新侧边栏 ------- */
  /* #region  */
  .todo-update-bar {
    width: 100% !important;
  }
  /* #endregion */
  /* ------- end  ------- */
}