@charset "UTF-8";
/* ------- 图标 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 元素移入样式 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 流式居中 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 滚轴 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 输入框 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 数字徽章 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 背景 ------- */
/* #region  */
@import "../../asserts/style/icon.css";
.flower-field {
  background-image: url("../../asserts/imgs/BackgroundImages/flower-field.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.sunset-glow {
  background-image: url("../../asserts/imgs/BackgroundImages/sunset-glow.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.mountain {
  background-image: url("../../asserts/imgs/BackgroundImages/mountain.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.fancy {
  background-image: url("../../asserts/imgs/BackgroundImages/fancy.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.hilltop {
  background-image: url("../../asserts/imgs/BackgroundImages/hilltop.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.wriggle {
  background-image: url("../../asserts/imgs/BackgroundImages/wriggle.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.snow {
  background-image: url("../../asserts/imgs/BackgroundImages/snow.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.autumn {
  background-image: url("../../asserts/imgs/BackgroundImages/autumn.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.black-bg {
  background-color: #2c2c2c !important;
  background-image: none !important;
}

.skyblue-bg {
  background-color: skyblue !important;
  background-image: none !important;
}

.green-bg {
  background-color: #90ee90 !important;
  background-image: none !important;
}

.white-bg {
  background-color: #ededed !important;
  background-image: none !important;
}

/* #endregion */
/* ------- end  ------- */
.header-title-wrap {
  /* ------- root ------- */
  /* #region  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 0 1.75rem 0;
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 页面标题区域 ------- */
  /* #region  */
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 设置(三个点) ------- */
  /* #region  */
  /* #endregion */
  /* ------- end  ------- */
}
.header-title-wrap .page-header-category {
  display: flex;
  align-items: center;
  line-height: 1.75;
  font-size: 1.75rem;
  font-weight: bolder;
}
.header-title-wrap .page-header-category .title-wrap {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 1rem;
  object-fit: cover;
}
.header-title-wrap .page-header-category .title-wrap img {
  width: 100%;
  height: 100%;
}
.header-title-wrap .page-header-menu-wrap {
  position: relative;
}
.header-title-wrap .page-header-menu-wrap .page-header-menu {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  object-fit: cover;
  padding: 0.5rem;
  content: url("../../asserts/imgs/MainBody/more.png");
}
.header-title-wrap .page-header-menu-wrap .page-header-menu img {
  width: 100%;
  height: 100%;
}
.header-title-wrap .page-header-menu-wrap .page-header-menu:hover {
  background-color: rgb(69, 69, 69);
  border-radius: 3px;
}
.header-title-wrap .page-header-menu-wrap .page-header-menu-tip {
  visibility: hidden;
  position: absolute;
  left: calc(-50% - 1rem);
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  width: 2rem;
  background-color: rgba(55, 55, 55, 0.5);
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.1);
}
.header-title-wrap .page-header-menu-wrap .page-header-menu-tip::before {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(-50% - 0.25rem);
  transform: translate(-50%, -50%);
  border: 0.75rem solid transparent;
  border-left-color: rgba(55, 55, 55, 0.5);
}
.header-title-wrap .page-header-menu-wrap .page-header-menu:hover + .page-header-menu-tip {
  visibility: visible;
}