@charset "UTF-8";
/* ------- 图标 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 元素移入样式 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 流式居中 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 滚轴 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 输入框 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 数字徽章 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
@import "../../asserts/style/mobile.css";
@import "../../asserts/style/icon.css";
.todolist-sidebar-wrap {
  /* ------- root ------- */
  /* #region  */
  background-color: #222222;
  color: #ffffff;
  width: 13rem;
  max-width: 25rem;
  min-width: 13rem;
  transition: all 0.3s;
  overflow-y: auto;
  scrollbar-width: none;
  border-right: 1px solid rgba(204, 204, 204, 0.25);
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 用户信息区域 ------- */
  /* #region  */
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 搜索区域 ------- */
  /* #region  */
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 自带的todo分组 ------- */
  /* #region  */
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 用户定义的todo分组 ------- */
  /* #region  */
  /* #endregion */
  /* ------- end  ------- */
  /* ------- 新建的功能组 ------- */
  /* #region  */
  /* #endregion */
  /* ------- end  ------- */
}
.todolist-sidebar-wrap .userinfo-wrap {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 5rem;
}
.todolist-sidebar-wrap .userinfo-wrap .userinfo-avatar {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 50%;
}
.todolist-sidebar-wrap .userinfo-wrap .userinfo-avatar img {
  width: 100%;
  height: 100%;
}
.todolist-sidebar-wrap .userinfo-wrap .userinfo-username {
  width: calc(100% - 5rem);
}
.todolist-sidebar-wrap .search-wrap {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: calc(100% - 1rem);
  padding: 1rem 0.5rem;
}
.todolist-sidebar-wrap .search-wrap .search-main {
  width: 100%;
}
.todolist-sidebar-wrap .search-wrap .search-main input {
  display: block;
  box-sizing: border-box;
  background-color: #222222;
  color: #ffffff;
  padding: 0.5rem;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}
.todolist-sidebar-wrap .search-wrap .search-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  object-fit: cover;
  margin-right: 0;
}
.todolist-sidebar-wrap .search-wrap .search-icon img {
  width: 100%;
  height: 100%;
}
.todolist-sidebar-wrap .fixed-categories {
  padding: 0 0.1rem;
  overflow-y: auto;
}
.todolist-sidebar-wrap .user-categories {
  height: calc(100% - 26.3rem);
  overflow-y: scroll;
  scrollbar-width: none;
}
.todolist-sidebar-wrap .create-new-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0.2rem;
  line-height: 1.25;
  font-size: 1.05rem;
  width: 100%;
}
.todolist-sidebar-wrap .create-new-wrap .create-new-list {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.todolist-sidebar-wrap .create-new-wrap .create-new-list:hover {
  background-color: rgba(204, 204, 204, 0.1);
  border-radius: 3px;
}
.todolist-sidebar-wrap .create-new-wrap .create-new-list-add-icon {
  margin-right: 1rem;
}
.todolist-sidebar-wrap .create-new-wrap .create-new-group {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  object-fit: cover;
  padding: 0.5rem;
  margin-right: 0rem;
}
.todolist-sidebar-wrap .create-new-wrap .create-new-group img {
  width: 100%;
  height: 100%;
}
.todolist-sidebar-wrap .create-new-wrap .create-new-group:hover {
  background-color: rgba(204, 204, 204, 0.1);
  border-radius: 3px;
}