@charset "UTF-8";
/* ------- 图标 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 元素移入样式 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 流式居中 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 滚轴 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 输入框 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 数字徽章 ------- */
/* #region  */
/* #endregion */
/* ------- end  ------- */
/* ------- 背景 ------- */
/* #region  */
.flower-field {
  background-image: url("../../asserts/imgs/BackgroundImages/flower-field.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.sunset-glow {
  background-image: url("../../asserts/imgs/BackgroundImages/sunset-glow.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.mountain {
  background-image: url("../../asserts/imgs/BackgroundImages/mountain.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.fancy {
  background-image: url("../../asserts/imgs/BackgroundImages/fancy.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.hilltop {
  background-image: url("../../asserts/imgs/BackgroundImages/hilltop.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.wriggle {
  background-image: url("../../asserts/imgs/BackgroundImages/wriggle.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.snow {
  background-image: url("../../asserts/imgs/BackgroundImages/snow.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.autumn {
  background-image: url("../../asserts/imgs/BackgroundImages/autumn.jpg") !important;
  background-size: cover;
  background-position: 50% 50%;
}

.black-bg {
  background-color: #2c2c2c !important;
  background-image: none !important;
}

.skyblue-bg {
  background-color: skyblue !important;
  background-image: none !important;
}

.green-bg {
  background-color: #90ee90 !important;
  background-image: none !important;
}

.white-bg {
  background-color: #ededed !important;
  background-image: none !important;
}

/* #endregion */
/* ------- end  ------- */
.setting-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222222;
}
.setting-container .setting-wrap {
  width: calc(100% - 2rem);
  height: 100%;
  padding: 1rem;
}
.setting-container .setting-wrap .setting-header {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  line-height: 1.75;
  font-weight: bold;
}
.setting-container .setting-wrap .setting-header .setting-header-back {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 1rem;
  object-fit: cover;
  content: url("../../asserts/imgs/MainBody/back.png");
  padding: 0.5rem;
}
.setting-container .setting-wrap .setting-header .setting-header-back img {
  width: 100%;
  height: 100%;
}
.setting-container .setting-wrap .setting-header .setting-header-back:hover {
  background-color: rgb(69, 69, 69);
  border-radius: 3px;
}
.setting-container .setting-wrap .setting-body {
  scrollbar-width: none;
  height: calc(100% - 6rem);
  overflow: auto;
}
.setting-container .setting-wrap .bg-choice-option .option-list-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.setting-container .setting-wrap .bg-choice-option .option-list-wrap .sg-bg-change-wrap {
  cursor: pointer;
  flex: 1 0 5rem;
  max-width: 5rem;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  background-color: #fff;
}