@import "./asserts/style/theme.css";

body,
html {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

img {
  -webkit-user-drag: none;
}

hr {
  margin: 1rem 0;
}

#root {
  width: 100%;
  height: 100%;
}

.todolist-main-wrap,
.todolist-sidebar-wrap {
  user-select: none;
}

.todolist-main-container * {
  transition: background-color 1s;
}
